<div class="wrapper-footer">
  <figure>
    <a [href]="links.main" target="_blank">
      <img src="assets/img/bloom-logo-1.png">
    </a>
  </figure>
  <ul class="links">
    <li><a [href]="links.terms">Términos de uso</a></li>
    <li><a [href]="links.terms">Política de privacidad</a></li>
  </ul>
  <ul class="links">
    <li><a [href]="links.contact">Contáctenos</a></li>
    <li><a [href]="links.investor_faq">Necesito ayuda</a></li>
  </ul>
  <div class="copyright">
    ©{{ year }} <a [href]="links.main" target="_blank"> BloomFactory </a>. Todos los derechos reservados
  </div>
</div>
