@import 'mixins'
@import 'breakpoints'

.wrapper-explore
  .title
    +bold()
    font-size: 22px
    margin-left: 16px
  hr
    height: 1px
    margin: 16px auto
    width: calc(100% - 32px)
    background-color: var(--gray-3)
  .products
    +flex(center, center, column)
    li
      margin: 0 16px 16px 16px

  .loader
    margin: 90px 0
    .points
      +flex(center, center)
      margin-bottom: 8px
      .point
        width: 10px
        height: 10px
        margin-right: 8px
        border-radius: 50%
        background-color: var(--purple-1)
        animation: loading 1s ease-in-out infinite
        &:last-child
          margin-right: 0
        &:nth-child(1)
          animation-delay: 0
        &:nth-child(2)
          animation-delay: .09s
        &:nth-child(3)
          animation-delay: .18s
    .text
      font-size: 12px
      text-align: center
      color: var(--gray-6)

  .no-products
    +flex(center, center, column)
    margin: 50px auto
    figure
      width: 60px
      img
        width: 100%
    .text
      text-align: center


@keyframes loading
  0%
    transform: scale(1)
  20%
    transform: scale(1.5)
  40%
    transform: scale(1)

+for-desktop-up
  .wrapper-explore
    .products
      +flex(center, space-between, row)
      flex-wrap: wrap
