<div class="wrapper-header">
  <a class="login-mobile" [routerLink]="['/auth', 'login']" *ngIf="!(hasUser$ | async); else userMobile">Iniciar sesión</a>
  <ng-template #userMobile>
    <figure class="user-icon mobile" [routerLink]="['/profile']">
      <img src="assets/img/user-no-image.svg">
    </figure>
  </ng-template>
  <figure class="header-logo">
    <a [href]="links.main" target="_blank">
      <img src="assets/img/bloom-logo-1.png">
    </a>
  </figure>
  <div class="actions-mobile">
    <span class="icon-search" *ngIf="showSearcher" (click)="toggleSearchInput()"></span>
    <span class="icon-menu" (click)="toggleShowMenu()"></span>
  </div>
  <div class="actions-desktop">
    <span class="icon-search" (click)="toggleSearchInput()"></span>
    <ul class="menu">
      <li>
        <a [routerLink]="['/explore']">Explora</a>
      </li>
      <li>
        <a [routerLink]="['/about']">Quienes somos</a>
      </li>
      <li>
        <a class="button" [routerLink]="['/auth', 'login']" *ngIf="!(hasUser$ | async); else userDesktop">Iniciar sesión</a>
        <ng-template #userDesktop>
          <figure class="user-icon desktop" [routerLink]="['/profile']">
            <img src="assets/img/user-no-image.svg">
          </figure>
        </ng-template>
      </li>
    </ul>
  </div>
  <div class="mobile-menu" [class.show]="showMenu">
    <ul class="overlay" (click)="toggleShowMenu()">
      <figure class="menu-logo">
        <img src="assets/img/bloom-logo-1.png">
        <span class="icon-arrow"></span>
      </figure>
      <li>
        <a [routerLink]="['/explore']">Explora</a>
      </li>
      <li>
        <a [routerLink]="['/about']">Quienes somos</a>
      </li>
      <li>
        <a>Cerrar sesión</a>
      </li>
    </ul>
  </div>
</div>
<div class="search" [formGroup]="form" *ngIf="showSearch">
  <input type="text" formControlName="query" placeholder="EJ: Zapatos" autofocus>
</div>
